@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/ShowFields" method="post" enctype="multipart/form-data">
    <input type="file" name="pic" /><br />  
    <input type="text" name="fullName" /><br /> 
    <input type="submit" value="Go" />
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
